@charset "UTF-8";

.loadingPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cf4b6f;
    z-index: 99999;

    img {
        position: relative;
        width: 200px;
        height: auto;
        margin: 20px auto;
    }

    p {
        position: relative;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

    .logo {
        position: absolute;
        top: 0;
        left: 15px;
        width: 135px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

    .nav {
        &__mobile {
            &-btn {
                position: absolute;
                top: 0;
                right: 0;
                width: 55px;
                height: 55px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                z-index: 1;

                &-line {
                    position: relative;
                    display: block;
                    width: 25px;
                    height: 2px;
                    background-color: #cf4b6f;
                    border-radius: 4px;
                    margin: 2px 0;
                }
            }

            &-page {
                position: absolute;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100vh;
                background-color: #fff;
                padding: 85px 0 0 0;

                li {
                    position: relative;
                    width: calc(90% - 30px);
                    height: auto;
                    padding: 15px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;
                    background-color: #fff;
                    border-bottom: 1px solid #cf4b6f;

                    p {
                        transition: all 0.3s ease;
                        position: relative;
                        width: auto;
                        height: auto;
                        padding: 3px;
                        color: #000;
                        font-size: 18px;
                        font-weight: 500;
                        overflow: hidden;
                    }

                    // &:nth-child(1) p {
                    //     color: #cf4b6f;
                    // }
               
                }
            }
        }
    }
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    font-size: 12px !important;
    line-height: 16px !important;
    word-spacing: 5px;
    letter-spacing: 2px;
    background-color: #cf4b6f;
    padding: 10px 0 !important;
}

.btnTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0;
    z-index: 9999;
}

@media (min-width: 768px) {
    header {
        height: 65px;
        background-color: #fff;

        .logo {
            width: 130px;
            height: 65px;
        }

        .nav {
            &__area {
                position: relative;
                width: 100%;
                max-width: 1200px;
                margin: 0 auto;
            }

            &__pc {
                ul {
                    position: relative;

                    // width: 100%;
                    height: 65px;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 0 50px 0 0;

                    li {
                        transition: all 0.3s ease;
                        position: relative;
                        width: auto;
                        height: 65px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        padding: 0 20px;
                        background-color: transparent;

                        p {
                            transition: all 0.3s ease;
                            position: relative;
                            width: auto;
                            height: auto;
                            padding: 3px;
                            font-size: 1rem;
                            color: #000;
                            font-weight: 400;
                            overflow: hidden;
                        }

                        // &:nth-child(1) {
                        //     p {
                        //         color: #cf4b6f;
                        //     }
                        // }

                        &:hover {
                            background-color: #f4dfe5;

                            p {
                                color: #cf4b6f;
                            }
                        }

                        img {
                            position: relative;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    header {
        height: 70px;

        .logo {
            width: 140px;
            height: 70px;
        }

        .nav {
            &__pc {
                ul {
                    height: 70px;

                    li {
                        height: 70px;
                        padding: 0 20px;

                        p {
                            padding: 3px;
                            font-size: 1.183rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1920px) {
    header {
        height: 70px;

        .logo {
            width: 140px;
            height: 70px;
        }

        .nav {
            &__pc {
                ul {
                    height: 70px;

                    li {
                        height: 70px;
                        padding: 0 20px;

                        p {
                            padding: 3px;
                            font-size: 1.183rem;
                        }
                    }
                }
            }
        }
    }
}
